*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #000000de;
    color: #ffffff;
    /* background-image: url("../images/main1.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    top: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: #12111190;
    justify-content: space-evenly;
    position:sticky;
    z-index: 1px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
    background-color:rgb(226, 218, 218);
    box-shadow: 0 0 10px #873d33;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a:hover{
    font-size: 22px;
    transition: 0.7s ease;
}

nav img {
    height: 50px;
}

#hero {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#hero .content {
    position: relative;
    z-index: 2;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#hero .content h1 {
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    animation: shake 10s infinite;
}

#hero .content h1 span {
    color: rgb(202, 55, 10);
    padding-left: 10px;
}

#hero .content .paragraph {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

#hero .content .paragraph .first {
    font-size: 27px;
    color: #ddd;
    margin-bottom: 5px;
    background: linear-gradient(315deg, #8c9397, #2f2322);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hero .content .paragraph .third {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    background: linear-gradient(315deg, #8c9397, #a44336);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paragraph .third {
        font-size: 24px;
        font-weight: bold;
    }

#hero .content .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#hero .content .buttons button {
    padding: 12px 25px;
    font-size: 18px;
    color: #000000;
    background-color: #ffffffcb;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    gap: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#hero .content .buttons button:hover {
    background-color: #a52218;
    transform: scale(1.05);
}
@keyframes shake {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    20% { transform: translate(0px, -2px) rotate(2deg); }
    40% { transform: translate(0px, 0px) rotate(-2deg); }
    60% { transform: translate(0px, 1px) rotate(1deg); }
    80% { transform: translate(0px, -1px) rotate(-1deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}

#about {
    width: 96.7%;
    height: 90vh;
    padding: 50px 20px;
    background: linear-gradient(135deg, #1e1e1e, #282828);
    color: #fff;
}

#about .content {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

#about .content h2 {
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 36px;
    color: #f0f0f0;
}

.abouts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.school1 ,.school2, .hobbie {
    flex: 1 1 calc(50% - 40px);
    max-width: 250px;
    min-width: 200px;
    background: #333;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.school1:hover ,.school2:hover, .hobbie:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}

.school1 p ,.school2 p, .hobbie p {
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: #d0d0d0;
    text-align: left;
    text-align: justify;
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px; 
}

.school1 p strong ,.school2 p strong, .hobbie p strong{
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #ff6347;
}
#skills {
    height: 90vh;
    padding: 50px 0;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}
#skills .content {
    max-width: 700px;
    margin: auto;
    text-align: center;
}
#skills h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.skills-list li {
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}
.skills-list li:hover {
    transform: scale(1.1);
}
.skills-list img {
    background: linear-gradient(135deg, rgb(255, 255, 255), rgb(208, 137, 145));
    border-radius: 10px;
    padding: 10px;
}
.skills-list span {
    display: block;
    margin-top: 10px;
    font-size: 18px;
}

/* projects */
#projects {
    width: 96.7%;
    height: 90vh;
    padding: 50px 20px;
    background: linear-gradient(135deg, #1e1e1e, #282828);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

#projects h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

#projects .content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

#projects .project1, #projects .project2 {
    background-color: #333;
    height: 500px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

#projects .project1 h2, #projects .project2 h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.project2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project2 ul li {
    margin: 15px 0;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, rgb(255, 255, 255,0.1), rgb(208, 137, 145,0.4));
    transition: background 0.3s ease, transform 0.3s ease;
}

.project2 ul li:hover {
    background: linear-gradient(135deg, rgb(255, 255, 255), rgb(208, 137, 145));
    transform: translateY(-3px);
}

.project2 ul li a {
    text-decoration: none;
    color: #ecf0f1;
    display: block;
    transition: color 0.3s ease;
}

.project2 ul li a:hover {
    color: #3498db; 
}

.image-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.image-container img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #ffcc00;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
}

.image-container:hover .overlay {
    opacity: 1;
    color: red;
}
/* project end */

#contact {
    padding: 50px 0;
    color: white;
    text-align: center;
}
#contact .content {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background:rgba(21, 21, 21, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}
#contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Cursive';
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    color: #fff;
}
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}
textarea {
    resize: vertical;
    height: 100px;
}
button {
    background: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}
button:hover {
    background: #ff0202bc;
}



footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-left p, .footer-right p {
    margin: 5px 0;
}

.footer-logo {
    font-size: 14px;
    color: #bbb;
}

footer p {
    margin: 0;
}

.footer-right {
    text-align: right;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@media (max-width: 768px) {
    header {
        height: 3.9rem;
        width: auto;
        display: flex;
        justify-content: space-between;
        z-index: 999;
    }

    nav {
        background-color: transparent;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 14px;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    nav ul li {
        width: auto;
        text-align: center;
        border-radius: 3px;
        position: relative;
    }

    nav ul li a span {
        display: none;
        font-size: 0.9rem;
        position: absolute;
        bottom: -2rem;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        padding: 0 0.5rem;
        border-radius: 3px;
        white-space: nowrap;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    nav ul li a img {
        height: 2rem;
        width: 2rem;
    }

    nav ul li a:hover img {
        animation: rotate360 0.6s linear;
    }

    nav ul li a:hover span {
        display: block;
        opacity: 1;
    }

    nav img {
        width: 90px;
        height: auto;
    }

    #hero {
        height: 80vh;
    }

    #hero .content h1 {
        width: 90%;
        max-width: 350px;
        font-size: 2.2rem;
        margin: 0 auto;
        padding: 8px;
    }

    .content .paragraph .first {
        display: none;
    }
    .content .paragraph .third {
        font-size: 3vw;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttons button {
        margin: 10px 0;
        width: 100%;
    }

    #about {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    .abouts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .school1, .school2, .hobbie {
        width: 70%;
        max-width: 500px;
        margin-bottom: 20px;
    }

    #skills {
        padding: 20px 0;
    }

    .skills-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
        width: 100%;
        justify-items: center;
    }

    .skills-list li {
        margin: 10px 0;
        width: 100%;
    }
    #projects{
        height: auto;
        width: 90%;
        max-width: 600px;
    }

    #projects .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    #projects .project1, #projects .project2 {
        width: 90%;
        max-width: 600px;
    }

    #contact {
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px 0;
    }

    #contact .content {
        padding: 10px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-left, .footer-right {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 600px;
    }

    .footer-right {
        text-align: center;
    }
}

