*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #610b6c;
    background-image: url("../images/main1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* .all{
    width: 900px;
} */

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f3a333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    --color: #f3a333;
    --animation: 2s ease-in-out infinite;
}

.loader .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    border: solid 2px var(--color);
    border-radius: 50%;
    margin: 0 10px;
    background-color: transparent;
    animation: circle-keys var(--animation);
}

.loader .circle .dot {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color);
    animation: dot-keys var(--animation);
}

.loader .circle .outline {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: outline-keys var(--animation);
}

.circle:nth-child(2) {
    animation-delay: 0.3s;
}

.circle:nth-child(3) {
    animation-delay: 0.6s;
}

.circle:nth-child(4) {
    animation-delay: 0.9s;
}

.circle:nth-child(5) {
    animation-delay: 1.2s;
}

.circle:nth-child(2) .dot {
    animation-delay: 0.3s;
}

.circle:nth-child(3) .dot {
    animation-delay: 0.6s;
}

.circle:nth-child(4) .dot {
    animation-delay: 0.9s;
}

.circle:nth-child(5) .dot {
    animation-delay: 1.2s;
}

.circle:nth-child(1) .outline {
    animation-delay: 0.9s;
}

.circle:nth-child(2) .outline {
    animation-delay: 1.2s;
}

.circle:nth-child(3) .outline {
    animation-delay: 1.5s;
}

.circle:nth-child(4) .outline {
    animation-delay: 1.8s;
}

.circle:nth-child(5) .outline {
    animation-delay: 2.1s;
}

@keyframes circle-keys {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes dot-keys {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes outline-keys {
    0% {
        transform: scale(0);
        outline: solid 20px var(--color);
        outline-offset: 0;
        opacity: 1;
    }

    100% {
        transform: scale(1);
        outline: solid 0 transparent;
        outline-offset: 20px;
        opacity: 0;
    }
}


header{
    top: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    background-color: #610b6c;
    position: fixed;
    z-index: 1px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
    background-color:rgba(155, 36, 224, 0.5);
    box-shadow: 0 0 10px rgba(251,202,77,0.6);
    padding: 5px;
    border-radius: 10px;
}

nav ul li a {
    color: rgb(251,202,77,0.6);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

nav ul li:hover {
    background-color: #0056b3;
    animation: shake 13s infinite;
    transition: all 0.4s ease;
}

nav img {
    height: 50px;
}

@keyframes shake {
    0%, 100% { transform: translateY(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateY(-11px); }
    20%, 40%, 60%, 80% { transform: translateY(10px); }
}

#hero{
    width: 100%;
    height: 600px;
}

#hero .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    gap: 30px;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}

#hero .content h1{
    height: 45px;
    width: 350px;
    padding-left:10px;
    color: #610b6c ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 49px;
    background: linear-gradient(315deg, #3b6782, #467a9a);
    box-shadow:  -14px -14px 28px #1a2e3a,
                 14px 14px 28px #68b6e6;
    text-transform: uppercase;
    font-size: 36px;
    animation: shake 13s infinite;
}
.content h1 span{
    color: antiquewhite;
    padding: 10px;
}

.content p{
    width: 500px;
    font-size: 1.1em;
    line-height: 1.5;
    color: #2d2c2c;
    margin: 0;
    padding: 20px;
    border-radius: 5px;
    background-color: transparent;
    text-align: justify;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 20px;
    background-color:rgb(71, 71, 215 , 0.5) ;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: rgb(137, 211, 211,0.5);
    border-color: rgba(0, 123, 255, 1);
    box-shadow: 0 0 20px rgba(0, 123, 255, 1);
    transform: scale(1.05);
    color: white;
}

.buttons 


#about{
    width: 100%;
    height: 600px;
}

.schools{
    display: flex;
    /* gap: 80px; */
    justify-content: space-evenly;
}

.content h2{
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
}

.schools{
    padding-top: 40px;
}

.schools .school p{
    width: 300px;
    height: 400px;
    overflow: hidden;
    border: 1px aqua solid;
    font-family: cursive;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
    transition: all 0.3s ease;
}

.schools .school p:hover {
    background-color: rgb(137, 211, 211,0.5);
    border-color: rgba(0, 123, 255, 1);
    box-shadow: 0 0 20px rgba(0, 123, 255, 1);
    transform: scale(1.05);
    color: white;
}


/* projects */
#skills {
    padding: 50px 0;
    color: white;
}
#skills .content {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
#skills h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Cursive';
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.skills-list li {
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}
.skills-list li:hover {
    transform: scale(1.1);
}
.skills-list img {
    background: linear-gradient(135deg, purple, pink);
    border-radius: 50%;
    padding: 10px;
}
.skills-list span {
    display: block;
    margin-top: 10px;
    font-size: 18px;
}


/* contact */

#contact {
    padding: 50px 0;
    color: white;
    text-align: center;
}
#contact .content {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}
#contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Cursive';
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    color: #fff;
}
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}
textarea {
    resize: vertical;
    height: 100px;
}
button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}
button:hover {
    background: #0056b3;
}



footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-left p, .footer-right p {
    margin: 5px 0;
}

.footer-logo {
    font-size: 14px;
    color: #bbb;
}

footer p {
    margin: 0;
}

.footer-right {
    text-align: right;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    header {
        flex-direction: row;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 10;
    }
    nav{
        width: 700px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        width: 760px;
    }

    /* nav ul {
        width: 130px;
        justify-content:center;
        padding: 0;
    } */

    nav .nav1{
        display: flex;
        justify-content: center;
    }
    nav .nav2{
        display: flex;
        justify-content: center;
    }

    #hero {
        padding-top: 5.5rem;
        height: 90vh;
    }

    #hero .content {
        align-items: center;
        padding: 20px;
        text-align: center;
    }

    #hero .content h1, .content p {
        width: 85%;
    }
    .buttons {
        flex-direction: column;
        gap: 10px;
        padding-bottom: 30px;
        align-items: center;
    }
    .content{
        padding-top: 100px;
    }
    #about{
        height: 100vh;
    }
    .about {
        padding-top: 40px;
    }

    .schools {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .schools .school p {
        width: 90%;
        height: auto;
        margin-bottom: 20px;
        text-align: center;
    }
    #skills{
        height: 120vh;
    }

    #skills .skills-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 10px;
    }

    .skills-list li {
        margin: 5px;
        width: 100%;
        text-align: center;
        transform: scale(0.9); /* Reduce size */
    }

    .skills-list img {
        width: 60px; /* Adjust image size */
        height: 60px; /* Adjust image size */
    }
    #contact{
        padding-top:60px;
    }

    #contact .content {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-right {
        text-align: center;
        margin-top: 10px;
    }
}
